In [1]:
#import libraries
import pandas as pd
pd.set_option("display.max_columns", None)
import calendar
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [2]:
#print csv
df=pd.read_csv("owid-covid-data.csv")

In [3]:
#number of unique location records
df['location'].nunique()

244

In [4]:
#print unique location records
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Mariana Islands', 'Norway', 'Oceania',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [5]:
#print unique continent records
df['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [6]:
#remove nan from continent
df = df[df["continent"].str.contains("nan") == False]

In [7]:
df['location'].nunique()

231

In [8]:
#df info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180022 entries, 0 to 191134
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    180022 non-null  object
 1   continent                                   180022 non-null  object
 2   location                                    180022 non-null  object
 3   date                                        180022 non-null  object
 4   total_cases                                 172499 non-null  float64
 5   new_cases                                   172293 non-null  float64
 6   new_cases_smoothed                          171184 non-null  float64
 7   total_deaths                                154245 non-null  float64
 8   new_deaths                                  154053 non-null  float64
 9   new_deaths_smoothed                         152955 non-null  float64
 10  total_cases_per_million                     172499 non-null  float64
 11  new_cases_per_million                       172293 non-null  float64
 12  new_cases_smoothed_per_million              171184 non-null  float64
 13  total_deaths_per_million                    154245 non-null  float64
 14  new_deaths_per_million                      154053 non-null  float64
 15  new_deaths_smoothed_per_million             152955 non-null  float64
 16  reproduction_rate                           139862 non-null  float64
 17  icu_patients                                25475 non-null   float64
 18  icu_patients_per_million                    25475 non-null   float64
 19  hosp_patients                               26729 non-null   float64
 20  hosp_patients_per_million                   26729 non-null   float64
 21  weekly_icu_admissions                       6209 non-null    float64
 22  weekly_icu_admissions_per_million           6209 non-null    float64
 23  weekly_hosp_admissions                      12379 non-null   float64
 24  weekly_hosp_admissions_per_million          12379 non-null   float64
 25  total_tests                                 77383 non-null   float64
 26  new_tests                                   73768 non-null   float64
 27  total_tests_per_thousand                    77383 non-null   float64
 28  new_tests_per_thousand                      73768 non-null   float64
 29  new_tests_smoothed                          100689 non-null  float64
 30  new_tests_smoothed_per_thousand             100689 non-null  float64
 31  positive_rate                               92852 non-null   float64
 32  tests_per_case                              91122 non-null   float64
 33  tests_units                                 103452 non-null  object
 34  total_vaccinations                          46010 non-null   float64
 35  people_vaccinated                           43539 non-null   float64
 36  people_fully_vaccinated                     41181 non-null   float64
 37  total_boosters                              19207 non-null   float64
 38  new_vaccinations                            36618 non-null   float64
 39  new_vaccinations_smoothed                   97151 non-null   float64
 40  total_vaccinations_per_hundred              46010 non-null   float64
 41  people_vaccinated_per_hundred               43539 non-null   float64
 42  people_fully_vaccinated_per_hundred         41181 non-null   float64
 43  total_boosters_per_hundred                  19207 non-null   float64
 44  new_vaccinations_smoothed_per_million       97151 non-null   float64
 45  new_people_vaccinated_smoothed              96091 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  96091 non-null   float64
 47  stringency_index                            148585 non-null  float64
 48  population                                  179705 non-null  float64
 49  population_density                          169444 non-null  float64
 50  median_age                                  156986 non-null  float64
 51  aged_65_older                               155313 non-null  float64
 52  aged_70_older                               156158 non-null  float64
 53  gdp_per_capita                              156146 non-null  float64
 54  extreme_poverty                             101637 non-null  float64
 55  cardiovasc_death_rate                       156627 non-null  float64
 56  diabetes_prevalence                         164326 non-null  float64
 57  female_smokers                              118259 non-null  float64
 58  male_smokers                                116626 non-null  float64
 59  handwashing_facilities                      76519 non-null   float64
 60  hospital_beds_per_thousand                  138880 non-null  float64
 61  life_expectancy                             177873 non-null  float64
 62  human_development_index                     152569 non-null  float64
 63  excess_mortality_cumulative_absolute        6553 non-null    float64
 64  excess_mortality_cumulative                 6553 non-null    float64
 65  excess_mortality                            6553 non-null    float64
 66  excess_mortality_cumulative_per_million     6553 non-null    float64
dtypes: float64(62), object(5)
memory usage: 93.4+ MB

In [9]:
#drop columns 
df = df[df.columns.drop(list(df.filter(regex='smoothed')))]
df = df[df.columns.drop(list(df.filter(regex='per_million')))]
df = df[df.columns.drop(list(df.filter(regex='mortality')))]
df = df[df.columns.drop(list(df.filter(regex='per_hundred')))]
df = df[df.columns.drop(list(df.filter(regex='tests')))]
df = df[df.columns.drop(list(df.filter(regex='weekly')))]
df.drop(['cardiovasc_death_rate','iso_code','diabetes_prevalence',
         'gdp_per_capita','reproduction_rate','aged_70_older','extreme_poverty',
        'aged_65_older','female_smokers','male_smokers'], axis=1,inplace=True)

In [10]:
df.columns

Index(['continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'icu_patients', 'hosp_patients',
       'positive_rate', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
       'stringency_index', 'population', 'population_density', 'median_age',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [11]:
#to datetime
df['date'] =  pd.to_datetime(df['date'])

In [12]:
df['date']

0        2020-02-24
1        2020-02-25
2        2020-02-26
3        2020-02-27
4        2020-02-28
            ...
191130   2022-05-29
191131   2022-05-30
191132   2022-05-31
191133   2022-06-01
191134   2022-06-02
Name: date, Length: 180022, dtype: datetime64[ns]

In [13]:
#split the date to day year month
df['day'] = df['date'].dt.day
df['month_num'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [14]:
#print those columns
df[["day", "month_num","year"]]

        day  month_num  year
0        24          2  2020
1        25          2  2020
2        26          2  2020
3        27          2  2020
4        28          2  2020
...     ...        ...   ...
191130   29          5  2022
191131   30          5  2022
191132   31          5  2022
191133    1          6  2022
191134    2          6  2022

[180022 rows x 3 columns]

In [15]:
#getting month names 
df['month_name'] = df['month_num'].apply(lambda x: calendar.month_abbr[x])

In [16]:
df['month_name']

0         Feb
1         Feb
2         Feb
3         Feb
4         Feb
         ...
191130    May
191131    May
191132    May
191133    Jun
191134    Jun
Name: month_name, Length: 180022, dtype: object

In [17]:
#save csv
df.to_csv('df_cleaned.csv')

In [18]:
#cases population df for report script
test = df.groupby('location')['new_cases'].sum()
test=pd.DataFrame(test)
test.reset_index(inplace=True)
test.rename(columns = {'new_cases':'total_cases'}, inplace = True)
test2=df.groupby('location')['population'].max()
test2=pd.DataFrame(test2)
test2.reset_index(inplace=True)
cases_population=pd.merge(test ,test2, on='location')
cases_population.to_csv('cases_population.csv')